  <div class="container">
    <main role="main" class="container pt-4 bg-white">
      <div class="row">
        <div class="col-md-8 pb-5">
          <!-- Post -->
          <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-index', {item: item}) %>
          <% }); %>

          <!-- Pagination -->
          <%- partial('_partial/pagination') %>

        </div>

        <%- partial('_partial/sidebar') %>
      </div>
    </main>
  </div>