    <div class="container">
        <main role="main" class="container pt-4 bg-white">
          <div class="row">
            <div class="col-md-8 pb-5">
              <%- partial('_partial/article-post', {item: page}) %>
            </div>
            
            <%- partial('_partial/sidebar') %>
          </div>
        </main>
    </div>
