<!-- Post Content -->
<div class="pb-1 mb-3 border-bottom">
    <h2><%- item.title || theme.default_post_title || "Untitled" %></h2>
    <%- partial("_partial/tags-and-cats.ejs") %>
</div>

<%- partial("_partial/article-content.ejs") %>
